<?xml version="1.0"?>
<robot name="token_d375">

    <material name="yellow">
        <color rgba="1 1 0 1"/>
    </material>

    <link name="token_d375_link">
        <inertial>
            <origin xyz="0 0 0.0036"/>
            <mass value="0.30" />
            <inertia  ixx="0.000028802" ixy="0.0"  ixz="0.0"  iyy="0.000028802"  iyz="0.0"  izz="0.000055491" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0.0036"/>
            <geometry>
                <box size="0.0375 0.0375 0.0067"/>
            </geometry>
            <material name="purple"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0.0036"/>
            <geometry>
                <box size="0.0375 0.0375 0.0067"/>
            </geometry>
        </collision>
    </link>
    <gazebo reference="token_d375_link">
        <maxVel>0.0</maxVel>
        <minDepth>0.0001</minDepth>
        <material>Gazebo/Yellow</material>
    </gazebo>

</robot>
