<?xml version="1.0"?>
<robot name="token_d240">

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <link name="token_d240_link">
        <inertial>
            <origin xyz="0 0 0.0036"/>
            <mass value="0.15" />
            <inertia  ixx="0.0000066875" ixy="0.0"  ixz="0.0"  iyy="0.0000066875"  iyz="0.0"  izz="0.000012318" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://edo_games/meshes/towers_of_hanoi/token-24.STL" />
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://edo_games/meshes/towers_of_hanoi/token-24.STL" />
            </geometry>
        </collision>
    </link>
    <gazebo reference="token_d240_link">
        <dampingFactor>0.5</dampingFactor>
        <material>Gazebo/Red</material>
    </gazebo>

</robot>
