<?xml version="1.0"?>
<robot name="token_d295">

    <material name="orange">
        <color rgba="1 0.65 0 1"/>
    </material>

    <link name="token_d295_link">
        <inertial>
            <origin xyz="0 0 0.0036"/>
            <mass value="0.2" />
            <inertia  ixx="0.000012229" ixy="0.0"  ixz="0.0"  iyy="0.000012229"  iyz="0.0"  izz="0.000023050" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://edo_games/meshes/towers_of_hanoi/token-29.5.STL" />
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://edo_games/meshes/towers_of_hanoi/token-29.5.STL" />
            </geometry>
        </collision>
    </link>
    <gazebo reference="token_d295_link">
        <dampingFactor>0.5</dampingFactor>
        <material>Gazebo/Orange</material>
    </gazebo>

</robot>
