<?xml version="1.0"?>
<robot name="token_d460">

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <link name="token_d460_link">
        <inertial>
            <origin xyz="0 0 0.0036"/>
            <mass value="0.4" />
            <inertia  ixx="0.000056333" ixy="0.0"  ixz="0.0"  iyy="0.000056333"  iyz="0.0"  izz="0.000109850" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0.0036"/>
            <geometry>
                <box size="0.0460 0.0460 0.0067"/>
            </geometry>
            <material name="purple"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0.0036"/>
            <geometry>
                <box size="0.0460 0.0460 0.0067"/>
            </geometry>
        </collision>
    </link>
    <gazebo reference="token_d460_link">
        <maxVel>0.0</maxVel>
        <minDepth>0.0001</minDepth>
        <material>Gazebo/Red</material>
    </gazebo>

</robot>
